/*
* @description: 公用样式库
* @author: qiao
* @update: qiao (2016-01-18 10:07)
* @version: v1.0
*/
/*element模板样式*/

.mip-btn {
	display: inline-block;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #fff;
    margin-right: 10px;
}

.mip-btn:disabled { cursor: default; opacity: .5; }
.mip-btn:focus, .mip-btn:active:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.mip-btn:hover, .mip-btn:focus { text-decoration: none; color: #fff;}
.mip-btn:active { background-image: none; outline: 0; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.el-breadcrumb:after, .el-breadcrumb:before, .el-button-group:after, .el-button-group:before, .el-form-item:after, .el-form-item:before, .el-form-item__content:after, .el-form-item__content:before { display: table; content: ""; }
.el-form-item__content:after { clear: both; }
.el-form-item:after { clear: both; }
.el-form-item.is-required .el-form-item__label:before { content: '*'; color: #ff4949; margin-right: 4px; }
.el-form-item__label { text-align: right; vertical-align: middle; float: left; font-size: 14px; color: #485c6a; line-height: 1; padding: 11px 12px 11px 0; box-sizing: border-box; }
.el-form-item__content {position: relative; font-size: 14px; }
.el-input { position: relative; font-size: 14px; display: inline-block; width: 100%; }
.el-input.is-disabled .el-input__inner { background-color: #eef2f6; border-color: #d1dde5; color: #bbb; cursor: not-allowed; }
.el-input.is-disabled .el-input__inner::-webkit-input-placeholder { color: #bfcfd9; }
.el-input.is-disabled .el-input__inner::-moz-placeholder { color: #bfcfd9; }
.el-input.is-disabled .el-input__inner:-ms-input-placeholder { color: #bfcfd9; }
.el-input.is-disabled .el-input__inner::placeholder { color: #bfcfd9; }
.el-input.is-active .el-input__inner { outline: 0; border-color: #00aaee; }
.el-input__inner { -webkit-appearance: none; -moz-appearance: none; appearance: none; background-color: #fff; background-image: none; border-radius: 4px; border: 1px solid #bfcfd9; box-sizing: border-box; color: #1f313d; display: block; font-size: inherit; height: 36px; line-height: 1; outline: 0; padding: 3px 10px; transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); width: 100%; }
.el-input__inner::-webkit-input-placeholder { color: #97adbe; }
.el-input__inner::-moz-placeholder { color: #97adbe; }
.el-input__inner:-ms-input-placeholder { color: #97adbe; }
.el-input__inner::placeholder { color: #97adbe; }
.el-input__inner:hover { border-color: #2ac348; }
.el-input__inner:focus { outline: 0; border-color: #2ac348; }
.el-form-item.is-required .el-form-item__label:before { content: '*'; color: #ff4949; margin-right: 4px; }
.el-form-item__error { color: #ff4949; font-size: 12px; line-height: 1; padding-top: 4px; position: absolute; top: 100%; left: 0; }
.el-input-group { line-height: normal; display: inline-table; width: 100%; border-collapse: separate; }
.el-input-group > .el-input__inner { vertical-align: middle; display: table-cell; }
.el-input-group__append, .el-input-group__prepend { background-color: #fafdff; color: #97adbe; vertical-align: middle; display: table-cell; position: relative; border: 1px solid #bfcfd9; border-radius: 4px; padding: 0 10px; width: 1%; white-space: nowrap; }
.el-input-group--prepend .el-input__inner, .el-input-group__append { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.el-input-group--append .el-input__inner, .el-input-group__prepend { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.el-input-group__append .el-button, .el-input-group__append .el-select, .el-input-group__prepend .el-button, .el-input-group__prepend .el-select { display: block; margin: -10px; }
.el-input-group__append .el-button, .el-input-group__append .el-select .el-input__inner, .el-input-group__append .el-select:hover .el-input__inner, .el-input-group__prepend .el-button, .el-input-group__prepend .el-select .el-input__inner, .el-input-group__prepend .el-select:hover .el-input__inner { border-color: transparent; background-color: transparent; color: inherit; border-top: 0; border-bottom: 0; }
.el-input-group__append .el-button, .el-input-group__append .el-input, .el-input-group__prepend .el-button, .el-input-group__prepend .el-input { font-size: inherit; }
.w-100 { width: 100%; }
.el-button--primary { color: #fff; border: none; border-radius: 2px;}
.el-button--primary:active { outline: 0; }
.el-button--primary.is-plain { background: #fff; border: 1px solid #bfcfd9; color: #1f313d; }
.el-button--primary.is-plain:focus, .el-button--primary.is-plain:hover { background: #fff; border-color: #00aaee; color: #00aaee; }
.el-button--primary.is-plain:active { background: #fff; border-color: #0099d6; color: #0099d6; outline: 0; }
.appRegister .code{
	background: #fff;
}
.el-step.is-horizontal,
.el-step.is-vertical .el-step__head,
.el-step.is-vertical .el-step__main,
.el-step__line {
	display: inline-block;
}

.el-step {
	position: relative;
	vertical-align: top;
}
.el-step__head.is-text.is-process {
	color: #fff;
	background-color: #20a53a;
	border-color: #20a53a;
}

 .el-step__head.is-text {
	font-size: 14px;
	border-width: 2px;
	border-style: solid;
}

.el-step__head.is-process,
.el-step__head.is-wait {
	color: #bfcfd9;
	border-color: #bfcfd9;
}

 .el-step__head {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: transparent;
	line-height: 28px;
	font-size: 28px;
	vertical-align: top;
	transition: all 150ms;
}

.el-step__head,
.el-steps.is-horizontal.is-center {
	text-align: center;
}
.el-step__line.is-horizontal {
	top: 15px;
	height: 2px;
	left: 35px;
	right: 0;
}
.el-step__line-inner {
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    transition: all 150ms;
    width: 0;
    height: 0;
}
.el-step__icon {
    display: block;
    line-height: 28px;
}
.el-step__icon > * {
    line-height: inherit;
    vertical-align: middle;
}
.el-step__main {
    white-space: normal;
    padding-right: 10px;
    text-align: left;
}
.el-step__title.is-process {
    font-weight: 700;
    color: #485c6a;
}
.el-step__title {
    font-size: 14px;
    line-height: 32px;
    display: inline-block;
}
.el-step__description.is-process {
    color: #8396a5;
}
.el-step__description {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
.el-step__head.is-text.is-wait {
	color: #bfcfd9;
	background-color: #fff;
	border-color: #bfcfd9;
}
.el-step__head {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: transparent;
    line-height: 28px;
    font-size: 28px;
    vertical-align: top;
    transition: all 150ms;
}
.el-step__line {
    position: absolute;
    border-color: inherit;
    background-color: #bfcfd9;
}





.fl{
	float:left;
}
.fr{
	float:right;
}
.layout{
	width:1040px;
	margin:0 auto;
}
.layout:after,.row:after{
	display:table;
	content:"";
	clear:both;
}
.main{
	position: relative;
	min-height:100%;
	_height:100%; /* for ie6 因为ie6不支持min-height */
	margin-bottom: -20px;
}
.top_nav{
	background-color: #232323;
    color: #ddd;
    height: 30px;
    line-height: 30px;
}
.top_nav_ul{
	float:right;
}
.top_nav_ul a{
	color:#ddd;
	margin:0 15px;
}
.head{
	width:100%;
	min-width:1040px;
	height:100px;
	background-color:#282828;
	position:relative;
	z-index:99;
}
.head .logo{
	width:110px;
	height:40px;
	margin-top:29px;
	margin-right:20px;
  	position: relative;
}
.head .logo img{
	border:0 none;
  	width:102px
}
.head .menu ul li{
	float:left;
	text-align:center;
	margin:35px 24px 0;
}
/* old
.head .logo{
	width:154px;
	height:40px;
	margin-top:29px;
	margin-right:35px;
  	position: relative;
}
.head .menu ul li{
	float:left;
	text-align:center;
	margin:35px 27px 0;
}
*/
.head .menu ul li a{
	color:#fff;
	display:block;
	line-height:30px;
	font-size:14px;
	opacity:0.8;
	text-decoration: none
}
.head .menu ul li a:hover{
	opacity:1;
}
.head .menu ul li a.active{
	font-weight:bolder;
	opacity:1;

}
.head .menu ul li a,
.head .menu ul li a:hover,
.head .menu ul li a:foncus{
	text-decoration: none
}
/*.head .menu ul li:nth-of-type(2) a{
	background: url('../../images/1111/yao_nav.png') no-repeat;
	background-size:70px auto;
	background-position:0 8px;
	color: #e71839;
    opacity: 1;
	height: 50px;
	width:72px;
	text-indent:-999em;
}*/
.head .login{
	margin-top:34px;
	position:relative;
}
.head .login > a{
	width:78px;
	height:28px;
	line-height:28px;
	display:block;
	border:#fff 1px solid;
	border-radius:3px;
	margin-left:15px;
	font-size:14px;
	color:#fff;
	text-align:center;
	float:left;
	opacity:1;
}
.head .login a:hover{
	opacity:0.7;
}
.head .login span{
	display: block;
	background: url('../../images/account.png') no-repeat;
	background-position:5px 8px;
	color:#fff;
	line-height:30px;
	text-align:center;
	margin:0 4px;
	cursor:pointer;
	font-size:16px;
	opacity:0.8;
	padding-left: 30px;
}
.head .login .el-dropdown-link i{
	display: none;
}

.head .login .userinfo{
	border: 1px solid #eee;
	background-color: #fafafa;
    border-radius: 5px;
    left: -20px;
    padding: 10px;
    position: absolute;
    top: 45px;
    width: 120px;
	display:none;
}

.head .login .userinfo:after{
	background-color: #fff;
    content: "";
    height: 14px;
    left: 62px;
    position: absolute;
    top: -6px;
    transform: rotate(-45deg);
    width: 14px;
}
.head .login .userinfo .tpic{
	background:#eee url(../../images/account.png) no-repeat 9px 10px/21px;
	width:40px;
	height:40px;
	border-radius:20px;
	margin: 0 auto;
}
.head .login .userinfo .username a{
	font-family: "微软雅黑";
	font-size:14px;
	text-align:center;
	line-height:30px;
	color:#666;
	margin-bottom:10px;
	display:block;
}
.head .login .userinfo p a, .head .login .userinfo .exit a{
	line-height:32px;
	text-align:center;
	color:#666;
	border-top:#eee 1px solid;
	display:block;
}
.login .userinfo .exit a, .flink{
	color:#666;
}

.btfooter{
	background-color:#fcfcfc;
	width:100%;
	text-align:center;
}
.btfooter .copyright {
    font-size: 13px;
    padding: 20px 0 15px;
    text-align: center;
	color: #aaa;
  	line-height:26px;
}
.flink a{
	margin: 0 7px;
	color:#666;
}
.btfooter .copyright a{
	color: #aaa;
}
.btfooter .copyright a:hover, .flink a:hover{
	color: #37a12b;
}

.footer_nav{
	padding-bottom: 20px;
	margin-bottom: 5px;
	border-bottom: 1px solid #555;
}

.btfooter{
	background-color:#333333;
}
.nav_list{
	float: left;
}
.nav_groud{
	padding-top: 30px;
}
.nav_list{
	width: 180px;
}
.nav_list .item{
	font-size: 16px;
	color: #fff;
	text-align: left;
	margin-bottom: 15px
}
.nav_list li{
	font-size: 14px;
	margin-bottom: 10px;
	text-align: left;
}
.nav_list li a:hover{
	color: #ececec;
}
.nav_list li a,
.nav_list li span{
	color: #bbb;
}
.nav_logo{
	width: 300px;
	box-sizing: border-box; 
	text-align: center;
	float:right;
}
.nav_logo img{
	width: 90px;
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
}
.nav_logo span{
	font-size: 16px;
	color: #bbb;
	display: block;
}

/*分页*/
.page-view {
	border: 1px solid #dbdbea;
	clear:both;
	/*overflow: hidden;*/
	height: 50px;
	background: #fff;
	border-radius: 6px;
	line-height: 50px
}
.page-view span{
	display: block;
	box-shadow: 0 0 32px rgba(0,0,0,.06) inset;
	color: #666;
}
.page-view span,
.page-view a{
	width: 50px;
	height: 50px;
	line-height: 50px !important;
	padding: 0 !important;
}
.page-view .page-next, .Pnext{
	float: right;
	width: 96px;
	border-left: #f1f1f1 solid 1px;
}
.page-view .page-prev, .Ppren{
	float: left;
	width: 96px;
	border-right: #f1f1f1 solid 1px
}
.page-view .page-first, .page-view .page-last {
	float: right;
	width: 50px;
	text-align: center
}
.page-view .page-first {
	float: left
}
.page-view .page-next a, .page-view .page-prev a, .Ppren, .Pnext {
	display: block;
	width: 44px;
	padding: 0 18px 0 35px;
	background: url(../../images/page-option-arrow.png) 18px -4px no-repeat;
	text-align: left;
	color: #474747;
	cursor:pointer
}
.page-view .page-next a, .Pnext {
	padding: 0 35px 0 18px;
	background-position: 75px -51px;
	text-align: right
}
.page-view .page-first a, .page-view .page-last a {
	display: block;
	background: url(../../images/page-option-arrow.png) 19px -98px no-repeat;
	text-indent: -9999em
}
.page-view .page-first a {
	background: url(../../images/page-option-arrow.png) 19px -148px no-repeat;
	border-right: #f1f1f1 solid 1px
}
/*.page-view ul {
	float: left
}*/
.page-view ul li, .Pcurrent, .Pnum {
	float: left;
	width: 50px;
	border-right: #f1f1f1 solid 1px;
	text-align: center
}
.page-view ul li a {
	display: block;
	width: 50px;
	height: 50px;
	color: #888;
	cursor:pointer
}
.page-view span a:hover, .page-view ul li a:hover, .page-view ul li.on a ,.Pcurrent, .Pnum:hover, .Pnext:hover, .Ppren:hover{
	/*box-shadow: 0 0 32px rgba(0,0,0,.06) inset;*/
	cursor:pointer
}
.page-view .disabled a:hover ,.Disabled:hover{
	cursor: not-allowed;
	box-shadow: none
}
.page-view span.disable a:hover {
	box-shadow: none;
	cursor: default
}
/*登录*/
.webreg{
	width:422px;
	height:392px;
	background-color:#fff;
	border-radius:8px;
	padding: 45px 60px;
}
.weblogin{
	width:422px;
	height:230px;
	background-color:#fff;
	border-radius:8px;
	padding: 45px 60px;
}
.webreg .logo{
	background:url(../../images/reg_logo.png) no-repeat;
	height: 40px;
    left: 50%;
    margin-left: -77px;
    position: absolute;
    top: -60px;
    width: 154px;
	cursor:pointer;
}
.webreg .title{
	color: #444;
    font-family: "微软雅黑";
    font-size: 26px;
    margin: -22px 0 33px;
    text-align: center;
}
.webreg .line{
	height:32px;
	margin-bottom:20px;
	line-height:32px;
	position:relative;
}
.webreg .line span{
	width:70px;
	float:left;
	color:#757584;
}
.webreg .line .inputtxt{
	background:transparent;
	float:left;
	width:340px;
	height:30px;
	line-height:30px;
	border:#DDDDDD 1px solid;
	padding:0 5px;
	position:relative;
	z-index:1;
}
.webreg .line .code{
	width:220px;
}
.webreg .line .getcode,.webreg .line .picgetcode{
	width:100px;
	text-align:center;
	height:30px;
	line-height:30px;
	border:#CACAD9 1px solid;
	background-color:#DBDBEA;
	color:#999;
	font-size:14px;
	float:left;
	margin-left:17px;
	cursor:pointer;
}
.webreg .line .getcode.no-drop{
	cursor:no-drop;
}
.webreg .line .getcode.pointer{
	border:#47ACFF 1px solid;
	background-color:#47ACFF;
	color:#fff;
}
.webreg .line .picgetcode img{
	width:100%;
	height:100%;
}
.webreg .line .codemsg{
	background: #e53451;
    border-radius: 3px;
    color: #fff;
	font-size: 12px;
    height: 21px;
    line-height: 22px;
    overflow: hidden;
    padding: 0 6px;
    position: absolute;
    right: 127px;
    text-align: right;
    top: 5px;
    z-index: 0;
}
.webreg .line .inputtxt:focus{
	border:#9ebcef 1px solid;
	box-shadow:0 0 5px #eee;
}
.reg_btn input{
	width:422px;
	height:43px;
	border:#20a53a 1px solid;
	background-color:#20a53a;
	text-align:center;
	font-size:16px;
	color:#fff;
	border-radius:5px;
	margin-top:15px;
	cursor:pointer;
}
.login-link{
	text-align:right;
	margin-top:22px;
}
.login-link span{
	color:#CACAD9;
	padding:0 8px;
 	text-align:center;
}
.login-link a{
	color:#999;
}
.denglu{
	background: #20a53a;
    border: 1px solid #20a53a;
    border-radius: 5px;
    color: #fff;
    height: 34px;
    line-height: 34px;
    margin: 0 auto;
    text-align: center;
    width: 100px;
}
.denglu a{
	color: #fff;
    display: block;
    font-size: 16px;
}

/*element组件*/
.mip-box-footer{
	clear: both;
	border-top: 1px solid #ececec;
	/*margin: 0 25px;*/
	overflow: hidden;
}
.item-up-page,
.item-down-page{
	width: auto;
	padding-top: 20px;
	margin: 5px 0;
	line-height: 15px;
}
.clearfix .item-down-page{
	float: right;
}
.item-up-page p,
.item-down-page p{
	width: 60px;
    float: left;
    font-size: 15px;
    margin-right: 10px;
    
}
.item-up-page a,
.item-down-page a{
    font-size: 13px;
    height: 13px;
    color: #666;
    width: auto;
    float: left;
    display: block;
    overflow: hidden;
}
.item-up-page,
.item-down-page{
	float: left;
}

/*window面板*/
.clear{
	clear:both;
	height:1px;
	width:100%;
}
.white{
	background-color:#fff;
}
.ztbox{
	width:100%;
	background-image:url(../../images/ztbg.gif);
	background-repeat:no-repeat;
	background-position:top center;
}
.banner .title{
	font-family:"Microsoft Yahei","微软雅黑";
	font-size:37px;
	text-align:center;
	padding:48px 0 30px;
	color:#555;
	font-weight:normal;
	width: 345px;
	margin:0 auto;
	position:relative;
}
.banner .title  span.free {
    border: 1px solid #ff5c26;
    border-radius: 2px;
    color: red;
    font-family: "宋体";
    font-size: 12px;
    padding: 2px 3px;
    position: absolute;
    right: -75px;
    top: 48px;
}
.banner .title  span.time {
    color: #888;
    font-family: "宋体";
    font-size: 12px;
    position: absolute;
    right: -80px;
    top: 77px;
}
.downBtn{
	height:46px;
	width:100%;
	text-align:center;
	margin-bottom:20px;
}
.downBtn span{
	display:inline-block;
	width:130px;
	height:44px;
	line-height:44px;
	border: 1px solid #20a53a;
	text-align:center;
	font-size:16px;
	color:#20a53a;
	border-radius:5px;
	cursor:pointer;
	margin:0 5px;
}
.downBtn span.on{
	background:#20a53a;
	background:linear-gradient(#20a53a,#189d32);
	box-shadow:inset 0 1px 2px #30ad42;
	color:#fff;
	text-shadow:#00851a 0 -1px 0;
}
.downBtn span:hover{
	background:#20a53a;
	background:linear-gradient(#20a53a,#189d32);
	box-shadow:inset 0 1px 2px #30ad42;
	color:#fff;
	text-shadow:#00851a 0 -1px 0;
}
.downBtn span.on:hover{
	background-color:#10952a;
	background:linear-gradient(#10952a,#189d32);
	box-shadow:inset 0 1px 2px #10952a;
	color:#fff;
}
.downBtn span:hover a{
	color: #fff;
}
.downBtn span.on a{
	display:block;
	color:#fff;
}
.downBtn span a{
	display:block;
	color:#20a53a;
}
.showtitle{
	color:#20a53a;
	font-size:22px;
	text-align:center;
	font-family:"微软雅黑";
	padding:16px 0 10px;
}
.downInfo{
	text-align:center;
	padding:15px 0;
	color:#999;
	font-size:14px;
}
.downInfo span{
	color:#888;
	margin:0 5px;
}
.downInfo a{
	color:#20a53a;
	margin-left:5px;
}
.softtxt{
	padding:10px 0 40px;
	text-align:center;
	font-size:14px;
	line-height:28px;
	color:#888;
}
.preview{
	background:url(../../images/pc.png) no-repeat top center;
	height:617px;
	padding-top:24px;
}
.preview .windows, .preview .linux {
    height: 517px;
    width: 814px;
    margin: 0 auto;
    position: relative;
}
.WSoft-min {
	box-shadow: 0 0 10px #666;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 450px;
}
.WSoft-min img {
	vertical-align: bottom;
}
.function{
	width:100%;
	min-width:1040px;
	background-image:url(../../images/f_xian.gif);
	background-position:top center;
	background-repeat:repeat-x;
	padding-top:60px;
}
.function .title{
	font-size:30px;
	color:#20a53a;
	text-align:center;
	font-weight:normal;
	margin-bottom:20px;
}
.function .subinfo{
	text-align:center;
	color:#666;
	font-size:16px;
}
.onekeycon ,.onekeycon-more{
	padding-top:90px;
	padding-bottom:10px;
	float:left;
}
.onekeycon ul li,.onekeycon-more ul li{
	width:260px;
	height:160px;
	position:relative;
	float:left;
	text-align:center;
	margin-bottom:60px;
}
.onekeycon ul li span{
	display:block;
	margin:0 auto 20px;
	font-size:30px;
	border-radius:79px;
	background-color:#20a53a;
	height:158px;
	width:158px;
	line-height:158px;
	color:#fff;
}

.onekeycon ul li p{
	text-align:center;
	color:#858585;
	font-size:16px;
}

.onekeycon-more ul li span{
	border:#CACAD9 1px solid;
	display:block;
	margin:0 auto;
	font-size:30px;
	border-radius:79px;
	background-color:#fff;
	height:158px;
	width:158px;
	line-height:158px;
	color:#444;
}
.onekeycon-more ul li p{
	display:none;
	background-color: #20a53a;
    border: 1px solid #cacad9;
    border-radius: 79px;
    color: #fff;
    font-size: 16px;
    height: 83px;
    left: 50px;
    margin: 0 auto;
    padding: 55px 20px 20px;
    position: absolute;
    top: 0;
    width: 118px;
}
.tab-tit{
	text-align:center;
	padding-bottom:50px;
}
.tab-tit span{
	font-size:30px;
	margin:0 30px;
	color:#666;
	cursor:pointer;
	padding-bottom:5px;
}
.tab-tit span.on{
	color:#20a53a;
	border-bottom:#20a53a 2px solid;
}
.tab-wrap{
	padding-bottom:60px;
}
.tab-wrap .tab-con{
	display:none;
}
.tab-con-info{
	text-align:center;
	line-height:26px;
	margin-bottom:20px;
	font-size:16px;
	color: #666;
}


.qtitle{
	font-size:20px;
	color:#444;
	padding:30px 0 20px;
}
.qtitle a{
	color:#20a53a;
	margin-left:20px;
	font-size:14px;
}
.faq{
	border-left: 5px #ddd solid;
    padding-left: 15px;
    margin-bottom: 20px;
    font-size: 14px;
}
.faq p{
	line-height:30px;
}
.faq p .link{
	color:#20a53a;
}
.code{
	border: #ddd 1px solid;
    background-color: #F0F0F0;
    padding: 8px 10px;
    font-size: 15px;
    display: inline-block;
    margin-top: 6px;
}
/*windwos面板*/
 .version{
	color: #888;
	font-family: "微软雅黑";
	font-size: 14px;
	text-align: center;
}
.support{
	color: #20a53a;
	font-size: 17px;
	text-align: center;
	font-family: "微软雅黑";
	padding: 10px 0 0px;
}
.supports{
	color: #20a53a;
	font-size: 22px;
	text-align: center;
	font-family: "微软雅黑";
	padding: 16px 0 10px;
}
.introduce{
	margin-top: 80px;
	padding-bottom:50px ;
	overflow: hidden;
}
.introduce .showImgleft{
	width: 450px;
	float: left;
}
.introduce .showImgRight{
	width: 450px;
	float: right;
	margin-right: 10px;
}
.introduce .showImgleft img,
.introduce .showImgRight img{
	width: 100%;
	box-shadow: 6px 6px 10px 0px #CECECE;
}
.introduce  .showText{
	float: left;
	margin-left: 75px;
	margin: 100px 55px;
}
.introduce  .showText li{
	font-size: 15px;
	margin-top: 15px;
	font-family: "微软雅黑";
	color: #888;
}
.introduce .showText .showTitle{
	font-size: 25px;
	margin-bottom: 20px;
	color: #555;
}
.mb100{
	margin-bottom: 100px;
}
.introduce.mb100{
	padding-top:50px;
	border-top: 1px solid #ececec;
}
.tab-con-img{
	text-align: center;
}



.go-download{
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
	font-size: 16px;
}
.go-download a{
	color: #555;
}
.platform{
	width: 100%;
	text-align: center;
	font-size: 10px;
	margin-bottom: 35px;
	color: #888;
}
.softtxt{
	padding-bottom: 20px;
}
.win{
	height: 517px;
	width: 814px;
	margin: 0 auto;
	position: absolute;
	margin-left: -407px;
	left: 50%;
	opacity: 0;
}

.show{
	opacity: 1;
	-webkit-transition: opacity .5s linear;
	transition: opacity .5s linear;
}

/* 宝塔币商城 */
.clearfix:before, .clearfix:after{
	content: " ";
	display: table;
	 clear: both;
}
.aboutbaner {
	height: 160px;
	background-color: #20a53a;
	width: 100%;
}
.aboutbaner .title {
	background: url(btb_tit.png) no-repeat center center;
	width: 700px;
	height: 160px;
	margin: 0 auto;
	text-indent: -999em;
	/* padding-top: 60px; */
}
.btbshop{
	padding:40px 0 10px;
	display:block;
	width:100%;
	float:left;
}
.mod-itemlist-shop .itemlist_item {
	float: left;
	position: relative;
	box-sizing: border-box;
	width: 326px;
	margin: 0 30px 30px 0;
	background: #fff;
	overflow: hidden;
}
.mod-itemlist-shop .itemlist_item:nth-child(3n) {
	margin-right: 0; 
 }
 .mod-itemlist-shop .itemlist_item:hover{
	box-shadow:0 0 10px #ddd;
 }
.mod-itemlist-shop .itemlist_item>a{
	display:block;
}
.mod-itemlist-shop .itemlist_item>a .item_pic {
	position: relative;
	width: 326px;
	height: 260px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.mod-itemlist-shop .itemlist_item>a .item_pic>img {
	max-width: auto;
	max-height: 200px;
}
.mod-itemlist-shop .itemlist_item>a .item_name {
	padding: 0 10px;
	line-height: 25px;
	text-align: center;
	color: #333;
	font-size:18px;
}
.mod-itemlist-shop .itemlist_item .item_content {
	margin-top: 10px;
	text-align: center;
	color: #999;
	font-size: 14px;
}
.item_exchangednum,.item_cost {
	margin-right: 3px;
	margin-left:3px;
	color:red;
}
.mod-itemlist-shop .itemlist_item .item_state {
	box-sizing: border-box;
	width: 100%;
	height: 70px;
	padding: 8px 0 15px;
	line-height: 35px;
	text-align: center;
	margin-top:20px;
}
.mod-itemlist-shop .itemlist_item .item_state .state_text {
	font-size: 18px;
	margin-bottom:6px;
}
.mod-btn {
	width: 140px;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: border-color .2s,color .2s,background-color .2s;
	transition: border-color .2s,color .2s,background-color .2s;
	color:#fff;
	background-color:#20a53a;
	box-sizing: border-box;
	height: 36px;
	padding: 0;
	font-size: 14px;
	display: inline-block;
}
.mod-btn:hover{
	color:#fff;
	background-color:#206C3A;
}
.btn-gray,.btn-gray:hover{
	background-color:#999;
	cursor:no-drop;
}
.partner-info {
	background-color: #fff;
	margin-bottom: 40px;
	border-radius: 3px;
	clear:both;
}
.pi-tit {
	height: 60px;
	line-height: 60px;
	font-size: 22px;
	text-align: center;
	color: #454545;
	border-bottom: #eee 1px solid;
}
.pi-text {
	padding: 30px 30px 20px;
	color: #454545;
}
.pi-text p {
	font-size: 14px;
	margin-bottom: 10px;
	display: block;
	line-height: 24px;
}
.maskdiv {
	display:none;
	width: 100%;
	height: 100%;
	position:fixed;
	background-color: #000;
	opacity: .3;
	top: 0;
	left: 0;
	z-index: 10;
}
.showbigimg{
	position:relative;
	display:none;
	width: 800px;
	height: 800px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin:-400px  0 0 -400px;
	z-index: 999;
	background-color:#fff;
	text-align:center;
	box-shadow: 0 0 20px #666;
}
.imgcon{
	width:800px;
	height:800px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.closebtn{
	position:absolute;
	top:10px;
	right:10px;
	font-size: 24px;
	width: 30px;
	cursor:pointer;
	text-align:center;
}
.closebtn:hover{
	color:red
}
.btb_title{
	height:40px;
	line-height:40px;
	font-size:16px;
	border-bottom:#ccc 1px solid;
	margin-bottom:30px;
	text-indent:10px;
}
.btb_title span.btb{
	float:right;
	margin-right:10px;
}
.btb_title span.btb span {
	color:red
}
.section{
	margin-bottom:20px;
}
.checkout-box{
	display:none;
	width:720px;
	height:450px;
	position:fixed;
	top:50%;
	left:50%;
	margin:-225px 0 0 -400px;
	background-color:#fff;
	padding:40px;
	z-index:99;
	box-shadow:0 0 20px #666;
}
.section-header{
	font-size:16px;
	margin-bottom:20px;
	color:#000;
}
.form-name{
	width:200px;
	margin-right:20px;
	margin-bottom:20px;
	float:left;
}
.form-address{
	width:100%;
}
.form-name .input-text{
	width: 100%;
	padding: 10px 16px;
	border: 1px solid #e0e0e0;
	font-size: 14px;
	line-height: 18px;
	background: #fff;
	-webkit-transition: border-color .2s linear;
	transition: border-color .2s linear;
}
.form-name .input-text:hover{
	border:#bbb 1px solid;
}
.form-name .input-text:focus{
	border:#20a53a 1px solid;
}
.goodlist td,.goodlist th{
	text-align:center;
	border-bottom:#ddd 1px solid;
	padding:10px 0;
}
.goodlist th{
	font-weight:normal;
}
.goodlist .img{
	text-align:left;
}
.goodlist .img img{
	height:40px;
}
.goodname{
	font-size:14px;
}
.goodpirce{
	font-size:14px;
	color:red
}
.btn-submit{
	margin-top:25px;
}
.btn-submit a{
	display:block;
	width:200px;
	height:40px;
	text-align:center;
	line-height:40px;
	background-color:#20a53a;
	color:#fff;
	font-size:16px;
	margin:0 auto;
}
.gonggao{
	font-size:16px;
	color:#fff;
	background-color:#E52A3B;
	text-align:center;
}
.gg1{
	font-size:26px;
	padding-top:15px;
}
.gg2{
	padding-top:10px;
	padding-bottom:20px;
}
.tips{
	margin-left:20px;
	color:#666
}
.goodtxt{
	font-size:15px;
	margin-bottom:15px;
}
.goodtxt .price{
	color:red;
	margin:0 3px;
}




.chunlian_box{
	width: 1200px;
	margin: 0 auto;
}
.chunlian{
	width: 1200px;
	margin-top: 110px;
	position:absolute;
	top:105px;
	z-index:2;
}
.dl_l{
	width:121px;
	height:457px;
	position:absolute;
	top:10%;
	left:0%;
	text-align:center;
}
.dl_l .top, .dl_l .bottom,.dl_r .top, .dl_r .bottom{
	background:url('../../images/bt_2018/juanzhou.png') no-repeat top center/120px 13px;
	height:20px;
	margin-top:-2px;
}
.dl_l .con{
	background:url('../../images/bt_2018/dl_l.png') no-repeat top center/93px 430px;
	height:0px;
	margin-top:-7px;
}
.dl_r .con{
	background:url('../../images/bt_2018/dl_r.png') no-repeat top center/93px 430px;
	height:0px;
	margin-top:-7px;
}
.dl_r{
	width:121px;
	height:457px;
	position:absolute;
	top:10%;
	right:0%;
}
.bottom_pendant{
	background: url('../../images/bt_2018/bottom_pendant.png') no-repeat top center/70px 100px;
	height: 95px;
	margin-top: -14px;
}
.top_pendant{
	background: url('../../images/bt_2018/top_pendant.png') no-repeat top center/70px 50px;
	height: 51px;
	margin-top: -13px;
}
@keyframes myfirst
{
from {
	height: 0;
}
to {
	height: 430px;
}
}